@import "assets/colors.scss";

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    top: 10px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

html {
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
  }
  textarea, button, input, pre {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
    box-sizing: border-box; 
  }
  input, textarea {
    padding: 5px;
  }
  textarea {
    resize: vertical;
    min-height: 2em;
  }
  a {
    color: white;
  }
  pre {
    white-space: pre-wrap;
    margin: 0px;
  }
  button {
    cursor: pointer;
    border: none;
    border-radius: 0;
    background: $theme-color;
    color: white;
    padding: 10px;
    outline: none;
    user-select: none;
  }
}

.Quoteth {
  max-width: 1600px;
  margin: 0px auto;

  header {
    text-align: center;
    margin-bottom: 2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3em;
      text-shadow: 3px 3px $shadow-color;
    }
    h2 {
      font-size: 1.25em;
      text-shadow: 3px 3px $shadow-color;
    }
    p {
      text-shadow: 0 0 3px $shadow-color;
    }
  }
  
  footer {
    font-size: .9em;
    text-shadow: 0px 0px 3px $shadow-color;
  }

  hr {
    /*
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #8f8f8f, #f0f0f0);
    margin-top: 30px;
    margin-bottom: 30px;
    &::after {
      content: '§';
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%) rotate(60deg);
      transform-origin: 50% 50%;
      padding: 1rem;
      background-color: $form-background-color;
    }
    */
    opacity:0;

  }

  .label {
    font-weight: bold;
  }

  .hex {
    font-family: 'Roboto Mono', monospace;
  }

  .includes-hex {
    word-break: break-all;
  }

  .container {
    padding: 20px;
  }

  .box {
    background: $form-background-color;
    border: 1px solid black;
    color: $form-text-color;
    padding: 10px;
    box-shadow: 5px 5px $shadow-color;

    h2 {
      margin-block-start: 0px;
      margin-block-end: 0px;
      display: inline-block;
      flex-grow: 1;
    }

    p:last-child {
      margin-block-end: 0px;
    }

    a {
      color: $theme-color;
    }
  }

  .intro {
    .accounts {
      display: table;
      margin: 0 auto;
      max-width: 600px;
  
      .entry {
        display: table-row;
  
        .owner {
          display: table-cell;
          text-align: right;
          padding-right: 10px;
        }
  
        .address {
          display: table-cell;
        }
      }
    }
  }

  .message {
    margin-bottom: 10px;
    
    .message-body {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 2em;
      font-family: 'Courgette', sans-serif;
      text-align: center;
    }

    .question-text {
      text-align: center;
    }

    .possible-signers {
      display: flex;
      flex-wrap: wrap;

      .possible-signer {
        height: 100%;
        text-align: center;
        flex-grow: 1;
        padding-bottom: 15px;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      .portrait-container {
        margin-bottom: 15px;
        
        .frame {
          background-color:#ddc;
          border:solid 40px #eee;
          border-bottom-color:#fff;
          border-left-color:#eee;
          border-radius:2px;
          border-right-color:#eee;
          border-top-color:#ddd;
          box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
          box-sizing:border-box;
          display:inline-block;
          padding: 35px;
          position:relative;
          text-align:center;
          cursor: pointer;

          &:before {
            border-radius:2px;
            bottom:-15px;
            box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
            content:"";
            left:-15px;
            position:absolute;
            right:-15px;
            top:-15px;
          }

          &:after {
            border-radius:2px;
            bottom:-20px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
            content:"";
            left:-20px;
            position:absolute;
            right:-20px;
            top:-20px;
          }
        
          .portrait {
            border:solid 2px;
            border-bottom-color:#ffe;
            border-left-color:#eed;
            border-right-color:#eed;
            border-top-color:#ccb;
            width: 100%;
            max-width: 200px;
            max-height: 300px;
          }
        }
      }
      
      button {
        margin-bottom: 10px;
      }
    }

    &.guessed {
      .portrait-container .frame {
        cursor: default;
      }
      &.correctly {
        .possible-signer.guess {
          button {
            background: green;
            cursor: default;
          }
        }
        .possible-signer:not(.guess) {
          .portrait {
            opacity: .5;
          }
          button {
            background: none;
            color: $form-text-color;
            opacity: .5;
            cursor: default;
          }
          .address {
            opacity: .5;
          }
        }
      }
      &.incorrectly {
        .possible-signer.guess {
          .portrait {
            opacity: .5;
          }
          button {
            background: red;
            cursor: default;
          }
          .address {
            opacity: .5;
          }
        }
        .possible-signer:not(.guess) {
          button {
            background: none;
            color: $form-text-color;
            cursor: default;
          }
        }
      }
    }

    > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 800px) {
  .Quoteth .message .possible-signers {
    flex-wrap: nowrap;

    .possible-signer {
      .portrait-container {
        .frame {
          border-width: 20px;
          padding: 20px;
          box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 0px 5px rgba(0,0,0,.25);
    
          &:before {
            position:absolute;
            top:-7px;
            bottom:-7px;
            left:-7px;
            right:-7px;
          }
    
          &:after {
            position:absolute;
            top:-9px;
            bottom:-9px;
            left:-9px;
            right:-9px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .Quoteth .message .possible-signers .possible-signer .portrait-container .frame {
    border-width: 10px;
    padding: 10px;

    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
}